.buttonContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  margin: 3px;
  width: 100px;
  height:100px;
  font-size:30px ;
  background-color:rgb(198, 198, 240);
  box-shadow:inset 0px 0px 10px 0.2px rgb(28, 28, 178);
  color: white;
  border: none;
  border-radius: 50px;
  
}